html,body{
    height:100%;
    margin:0;
}

#mapid{
    position:relative;
    height:100%;
    width:100%;
    padding:0px;
}

.toolbar{ /* the actual right hand toolbar */
    background-color:#FFFFFF;
    width: 15vw;
    height: 96vh;
}
.label{ /* all section labels */
    font-size:16px;
}

/**************************************** RACE SECTION *****************************************/
.race-options{ /* block of all race related stuff */ }

.race-options-label{ /* label 'Race' for the block */ }

.race-selector{ /* selection div of every race */
    font-size: 13px;
    padding-left: 1vw;
    color: white;
}

.race-selector.selected{
    color: black;
}

.race-A{ /* div of asian */
    background:rgba(62,121,104,1);
}
.race-B{ /* div of black */
    background:rgba(143,105,77,1);
}
.race-I{ /* div of american indian */
    background:rgba(132,130,162,1);
}
.race-P{ /* div of black-hispanic */
    background:rgba(160,110,136,1);
}
.race-Q{ /* div of white-hispanic */
    background:rgba(99,129,65,1);
}
.race-W{ /* div of white */
    background:rgba(168,141,62,1);
}
.race-U{ /* div of unknown */
    background:rgba(137,109,57,1);
}
.race-Z{ /* div of other */
    background:rgba(153,153,153,1);
}
.race-A.selected{ /* div of asian */
    background:rgba(27,158,119,.9);
}
.race-B.selected{ /* div of black */
    background:rgba(217,95,2,.9);
}
.race-I.selected{ /* div of american indian */
    background:rgba(117,112,179,.8);
}
.race-P.selected{ /* div of black-hispanic */
    background:rgba(231,41,138,.9);
}
.race-Q.selected{ /* div of white-hispanic */
    background:rgba(102,166,30,.9);
}
.race-W.selected{ /* div of white */
    background:rgba(230,171,0,.9);
}
.race-U.selected{ /* div of unknown */
    background:rgba(166,118,29,.8);
}
.race-Z.selected{ /* div of other */
    background:rgba(102,102,102,.8);
}
/*************************** BOROUGH SECTION *********************************************/

.boro-options{ /* block of all borough stuff */ }

.boro-options-label{ /* label 'Borough' */ }

.boro-selector{ /* all borough selectors */
    background:rgba(173,216,230,.7);
    padding-left:1vw;
}
.boro-selector.selected{ /* all borough selector selected*/
    background:rgba(173,216,230,1);
}
.boro-QUEENS{ /* Queens selector */ }
.boro-BROOKLYN{ /* Queens selector */ }
/* etc */

/************************** INCOME/RACE SECTION ******************************************/

.incR-options{ /* block of all borough stuff */ }

.incR-options-label{ /* label Income and Majority Race */ }

.incR-selectors{
    align-items:center;
}
.incR-selector{
    background:#C5BCBC;
}
.incR-selector.selected{
    background:#9C9898;
}
.incR-N{
    display:inline;
    padding-left:5px;
}
.incR-I{
    display:inline;
    padding-left:5px;
}
.incR-R{
    display:inline;
    padding-left:5px;
}