html,body{
    height:100%;
    margin:0;
}

#mapid{
    position:relative;
    height:100%;
    width:100%;
    padding:0px;
}

.toolbar{
    background-color:#FFFFFF;
    width: 15vw;
    height: 96vh;
}

.race-selector{ /* div of every race */
    font-size: 13px;
}

.race-A{ /* div of asian */
    background:rgba(27,158,119,.7);
}
.race-B{ /* div of black */
    background:rgba(217,95,2,.7);
}
.race-I{ /* div of american indian */
    background:rgba(117,112,179,.7);
}
.race-P{ /* div of black-hispanic */
    background:rgba(231,41,138,.7);
}
.race-Q{ /* div of white-hispanic */
    background:rgba(102,166,30,.7);
}
.race-W{ /* div of white */
    background:rgba(230,171,0,.7);
}
.race-U{ /* div of unknown */
    background:rgba(166,118,29,.7);
}
.race-Z{ /* div of other */
    background:rgba(102,102,102,.7);
}